<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>YangJin Blog</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="assets/css/index.css" media="screen" charset="utf-8">
</head>
<body>
  <div id="app">
    <div class="view__wrapper">
      <header class="view__header">
        <h1 class="header__title"><a href="">YangJin Blog</a></h1>
        <p class="header__bio">前端开发工程师 努力搬砖 不想坑 什么时候也造个轮子</p>
      </header>
      <main class="view__content">
        <router-view></router-view>
      </main>
    </div>
  </div>
  <footer class="footer">
    <p>Powered by <a href="https://github.com/yangseas" target="_blank">YangJin</a></p>
  </footer>
  <!-- postList template -->
  <script type="text/template" id="postList">
    <div class="contentPost">
      <div class="postBox">
        <div class="post__item" v-for="post in posts">
          <h2 class="item__title">
            <router-link :to="{name: 'postDetail', params: {id: post.number}}">
              {{ post.title }}
            </router-link>
          </h2>
          <ul>
            <li 
              class="item__tag"
              v-for="label in post.labels" 
              :key="label.name" 
              :style="{color: '#' + label.color}">
              <router-link :to="{name: 'labelPost', params: {name: label.name}}">
                {{label.name}}
              </router-link>
            </li>
          </ul>
          <div class="item__preview">
            {{post.body}}
          </div>
          <p class="item__time">
            Posted By YangJin on {{post.created_at}}
          </p>
        </div>
      </div>
      <div class="paginationBox" v-if="isHome">
        <span v-show="prePage">
          <router-link :to="{ name: 'pagePost', params: { page: prePage }}">prePage</router-link>
        </span>
        <span v-show="nextPage">
          <router-link :to="{ name: 'pagePost', params: { page: nextPage }}">nextPage</router-link>
        </span>
      </div>
      <div class="paginationBox" v-else>
        <span v-show="prePage">
          <router-link :to="{ name: 'labelPagePost', params: { name:label, page: prePage }}">prePage</router-link>
        </span>
        <span v-show="nextPage">
          <router-link :to="{ name: 'labelPagePost', params: { name:label, page: nextPage }}">nextPage</router-link>
        </span>
      </div>
    </div>
  </script>
  <!-- postDetail template -->
  <script type="text/template" id="postDetail">
    <article class="post">
      <h2>
        <router-link :to="{ name: 'postDetail', params: { id: post.number }}">{{ post.title }}</router-link>
      </h2>
      <ul class="tags" v-for="label in post.labels">
        <li class="tag">
          <router-link :to="{ name: 'labelPost', params: { name: label.name }}">{{label.name}}</router-link>
        </li>
      </ul>
      <span class="time">{{new Date(post.created_at).toLocaleDateString()}}</span>
      <div class="content" v-html="post.body"></div>
    </article>
  </script>
  <script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
  <script src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/marked@0.6.0/lib/marked.js" charset="utf-8"></script>
  <script src="config.js" charset="utf-8"></script>
  <script src="index.js" charset="utf-8"></script>
</body>
</html>
