<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>YangJin Blog</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/index.css" media="screen" charset="utf-8">
</head>
<body>
  <div id="app">
    <div class="view__wrapper">
      <header class="view__header">
        <h1 class="header__title"><a href="">YangJin Blog</a></h1>
        <p class="header__bio">前端开发工程师 努力搬砖 什么时候也造个轮子</p>
      </header>
      <main class="view__content">
        <router-view></router-view>
      </main>
    </div>
    <footer class="view__footer">
      <p class="copyright text-muted">
        Copyright &copy;Yang Jin<br>
        Powered by <a href="http://niexias.github.io">YangJin Blog</a> |
        <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="100px" height="20px" src="https://ghbtns.com/github-btn.html?user=niexias&repo=niexias.github.io&type=star&count=true">
        </iframe>
      </p>
    </footer>
  </div>
  <!-- postList template -->
  <script type="text/template" id="postList">
    <div class="contentPost">
      <div class="loadingBox" v-if="loading">
        <i class="fas fa-spinner fa-spin fa-lg"></i>
      </div>
      <div class="postBox" v-else>
        <div class="post__item" v-for="post in posts">
          <h2 class="item__title">
            <router-link :to="{name: 'postDetail', params: {id: post.number}}">
              {{ post.title }}
            </router-link>
          </h2>
          <ul>
            <li 
              class="item__tag"
              v-for="label in post.labels" 
              :key="label.name" 
              :style="{backgroundColor: '#' + label.color}">
              <router-link :to="{name: 'labelPost', params: {name: label.name}}">
                {{label.name}}
              </router-link>
            </li>
          </ul>
          <div class="item__preview">
            <p v-if="post.body.length < 200">{{post.body.replace(/[`#->\*\[\]]/g, '')}}</p>
            <p v-else>{{post.body.substr(0, 200).replace(/[`#->\*\[\]]/g, '')}}...</p>
          </div>
          <p class="item__time">
            Posted By YangJin on {{(new Date(post.created_at)).Format('yyyy-MM-dd hh:mm:ss')}}
          </p>
        </div>
      </div>
      <div class="paginationBox" v-if="notLabel">
        <span class="page_item" v-show="prePage">
          <router-link :to="{ name: 'pagePost', params: { page: prePage }}">上一页</router-link>
        </span>
        <span class="page_item" v-show="nextPage">
          <router-link :to="{ name: 'pagePost', params: { page: nextPage }}">下一页</router-link>
        </span>
      </div>
      <div class="paginationBox" v-else>
        <span class="page_item" v-show="prePage">
          <router-link :to="{ name: 'labelPagePost', params: { name:label, page: prePage }}">上一页</router-link>
        </span>
        <span class="page_item" v-show="nextPage">
          <router-link :to="{ name: 'labelPagePost', params: { name:label, page: nextPage }}">下一页</router-link>
        </span>
      </div>
    </div>
  </script>
  <!-- postDetail template -->
  <script type="text/template" id="postDetail">
    <div class="contentPost">
      <div class="loadingBox" v-if="loading">
        <i class="fas fa-spinner fa-spin fa-lg"></i>
      </div>
      <div class="detailBox" v-else>
        <h2 class="post__title">
          <router-link :to="{ name: 'postDetail', params: { id: post.number }}">{{ post.title }}</router-link>
          <i class="post__tag" v-for="label in post.labels" :key="label.name" :style="{backgroundColor: '#' + label.color}">
            <router-link :to="{name: 'labelPost', params: {name: label.name}}">
              {{label.name}}
            </router-link>
          </i>
        </h2>
        <span class="post__time">{{(new Date(post.created_at)).Format('yyyy-MM-dd hh:mm:ss')}}</span>
        <div class="post__content" v-html="post.body"></div>
        <div class="post__comment"><a :href="post.comments_url"><i class="fas fa-comment"></i> 添加评论</a></div>
      </div>
    </div>
  </script>
  <script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
  <script src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/marked@0.6.0/lib/marked.js" charset="utf-8"></script>
  <script src="config.js" charset="utf-8"></script>
  <script src="index.js" charset="utf-8"></script>
</body>
</html>
