<!-- Footer -->
<!-- 用于展示_config.yml Social Profiles的信息，还有版权说明 -->
<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.weibo_name %}
          <li class="list-inline-item">
          <a href="https://weibo.com/{{ site.weibo_name }}/home">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.zhihu_name %}
          <li class="list-inline-item">
          <a href="https://www.zhihu.com/people/{{ site.zhihu_name }}/activities">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse">知</i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">
          Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}
          <br>
          Powered by <a href="http://Yangseas.github.io">Yangseas Blog</a> |
          <iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="100px" height="20px" src="https://ghbtns.com/github-btn.html?user=yangseas&repo=yangseas.github.io&type=star&count=true">
          </iframe>
        </p>
      </div>
    </div>
  </div>
</footer>
